<html>
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body  background="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fannabel%2Ffiles%2F2018%2F02%2FLouisville_Skyline-1200x801.jpg">
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/drivers">Drivers</a></li>
        <li role="presentation"><a href="/teams">Teams</a></li>
        <li role="presentation" class="active"><a href="/countries">Countries</a></li>
        <li role="presentation"><a href="/tracks">Tracks</a></li>
        <li role="presentation"><a href="/races">Races</a></li>
        <li role="presentation"><a href="/driver_standings">Standings</a></li>
    </ul>
    <h2 style= "color:#FFFFFF;" >Countries</h2>
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th style="background-color: rgba(169, 179, 179, 0.8);">Name</th>
                <th style="background-color: rgba(169, 179, 179, 0.8);">Delete</th>
                <th style="background-color: rgba(169, 179, 179, 0.8);">Edit</th>
            </tr>
            {{#countries}}
                <tr style="background-color: rgba(169, 179, 179, 0.8);" >
                    <td>{{country_name}}</td>
                    <td><a style= "color:#1947D1;" href="/countries/{{id}}/delete">Delete</a></td>
                    <td><a style= "color:#1947D1;" href="/countries/{{id}}/edit">Edit</a></td>		    
                </tr>
            {{/countries}}
        </table>
    </div>
    <div class="col-md-4">
        <h4 style= "color:#FFFFFF;" >Add new country:</h4>
        <form action="/countries/create" method="post">
            <div class="form-group">
                <label style= "color:#FFFFFF;" for="country_name">Name</label>
                <input type="text" name="country_name" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>
