<html>
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body background= "http://blogs.ft.com/photo-diary/files/2015/07/tour.jpg">
<div class="container">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/drivers">Drivers</a></li>
        <li role="presentation"><a href="/teams">Teams</a></li>
        <li role="presentation"><a href="/countries">Countries</a></li>
        <li role="presentation"><a href="/tracks">Tracks</a></li>
        <li role="presentation"><a href="/races">Races</a></li>
        <li role="presentation" class="active"><a href="/driver_standings">Standings</a></li>
    </ul>
    <h2 style= "color:#FFFFFF;" >Driver standings</h2>
    <table class="table table-bordered">
        <tr style="background-color: rgba(169, 179, 179, 0.8);" >
            <th>Number</th>
            <th>Name</th>
            <th>Team</th>
            <th>Points</th>
        </tr>
        {{#drivers}}
            <tr style="background-color: rgba(169, 179, 179, 0.8);" >
                <td>{{driver_number}}</td>
                <td>{{driver_name}}</td>
                <td>{{team_name}}</td>
                <td>{{driver_points}}</td>
            </tr>
        {{/drivers}}
    </table>
</div>
</body>
</html>