<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body background= "http://imagesci.com/img/2013/09/bicycle-21919-hd-wallpapers.jpg">
<div class="container" >
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/drivers">Drivers</a></li>
        <li role="presentation"><a href="/teams">Teams</a></li>
        <li role="presentation"><a href="/countries">Countries</a></li>
        <li role="presentation"><a href="/tracks">Tracks</a></li>
        <li role="presentation"><a href="/races">Races</a></li>
        <li role="presentation"><a href="/driver_standings">Standings</a></li>
    </ul>
</div>
</body>
</html>
